.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-right:auto;margin-left:auto;}
.fieldgroup{padding:0;border-width:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}
.clearfix:after{display:table;clear:both;content:"";}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:", ";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{min-width:100px;max-width:100%;height:16px;margin-top:5px;border:1px solid;background-color:#fff;}.progress__bar{width:3%;min-width:3%;max-width:100%;height:16px;background-color:#000;}.progress__description,.progress__percentage{overflow:hidden;margin-top:0.2em;color:#555;font-size:0.875em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.resize-none{resize:none;}.resize-vertical{min-height:2em;resize:vertical;}.resize-horizontal{max-width:100%;resize:horizontal;}.resize-both{max-width:100%;min-height:2em;resize:both;}
table.sticky-header{z-index:500;top:0;margin-top:0;background-color:#fff;}
.system-status-counter__status-icon{display:inline-block;width:25px;height:25px;vertical-align:middle;}.system-status-counter__status-icon:before{display:block;width:100%;height:100%;content:"";background-repeat:no-repeat;background-position:center 2px;background-size:16px;}.system-status-counter__status-icon--error:before{background-image:url(/mydrupal/drupal-8.8.2/core/misc/icons/e32700/error.svg);}.system-status-counter__status-icon--warning:before{background-image:url(/mydrupal/drupal-8.8.2/core/misc/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked:before{background-image:url(/mydrupal/drupal-8.8.2/core/misc/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;margin-bottom:0.5em;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);}@media screen and (min-width:60em){.system-status-report-counters{display:flex;flex-wrap:wrap;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{margin-top:1em;padding:0 1em 1em;border:1px solid #ccc;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%;}.tablesort--asc{background-image:url(/mydrupal/drupal-8.8.2/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/mydrupal/drupal-8.8.2/core/misc/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/mydrupal/drupal-8.8.2/core/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/mydrupal/drupal-8.8.2/core/misc/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/mydrupal/drupal-8.8.2/core/misc/tree.png) no-repeat -11px center;}
.contextual-region{position:relative;}.contextual .trigger:focus{position:relative !important;}.contextual-links{display:none;}.contextual.open .contextual-links{display:block;}
.views-admin ul,.views-admin menu,.views-admin dir{padding:0;}.views-admin pre{margin-top:0;margin-bottom:0;white-space:pre-wrap;}.views-left-25{float:left;width:25%;}[dir="rtl"] .views-left-25{float:right;}.views-left-30{float:left;width:30%;}[dir="rtl"] .views-left-30{float:right;}.views-left-40{float:left;width:40%;}[dir="rtl"] .views-left-40{float:right;}.views-left-50{float:left;width:50%;}[dir="rtl"] .views-left-50{float:right;}.views-left-75{float:left;width:75%;}[dir="rtl"] .views-left-75{float:right;}.views-right-50{float:right;width:50%;}[dir="rtl"] .views-right-50{float:left;}.views-right-60{float:right;width:60%;}[dir="rtl"] .views-right-60{float:left;}.views-right-70{float:right;width:70%;}[dir="rtl"] .views-right-70{float:left;}.views-group-box .form-item{margin-right:3px;margin-left:3px;}.views-displays{clear:both;}.views-displays .tabs{overflow:visible;margin:0;padding:0;border-bottom:0 none;}.views-displays .tabs > li{float:left;padding:0;border-right:0 none;}[dir="rtl"] .views-displays .tabs > li{float:right;border-right:1px solid #bfbfbf;border-left:0 none;}.views-displays .tabs .open > a{position:relative;z-index:51;}.views-displays .tabs .views-display-deleted-link{text-decoration:line-through;}.views-display-deleted > details > summary,.views-display-deleted .details-wrapper > .views-ui-display-tab-bucket > *,.views-display-deleted .views-display-columns{opacity:0.25;}.views-display-disabled > details > summary,.views-display-disabled .details-wrapper > .views-ui-display-tab-bucket > *,.views-display-disabled .views-display-columns{opacity:0.5;}.views-display-tab .details-wrapper > .views-ui-display-tab-bucket .actions{opacity:1;}.views-displays .tabs .add{position:relative;}.views-displays .tabs .action-list{position:absolute;z-index:50;top:23px;left:0;margin:0;}[dir="rtl"] .views-displays .tabs .action-list{right:0;left:auto;}.views-displays .tabs .action-list li{display:block;}.views-display-columns .details-wrapper{padding:0;}.views-display-column{box-sizing:border-box;}.views-display-columns > *{margin-bottom:2em;}@media screen and (min-width:45em){.views-display-columns > *{float:left;width:32%;margin-bottom:0;margin-left:2%;}[dir="rtl"] .views-display-columns > *{float:right;margin-right:2%;margin-left:0;}.views-display-columns > *:first-child{margin-left:0;}[dir="rtl"] .views-display-columns > *:first-child{margin-right:0;}}.views-ui-dialog .scroll{overflow:auto;padding:1em;}.views-filterable-options-controls{display:none;}.views-ui-dialog .views-filterable-options-controls{display:inline;}.views-ui-dialog .views-messages{overflow:auto;max-height:200px;}.views-display-setting .label,.views-display-setting .views-ajax-link{float:left;}[dir="rtl"] .views-display-setting .label,[dir="rtl"] .views-display-setting .views-ajax-link{float:right;}.form-item-options-value-all{display:none;}.js-only{display:none;}html.js .js-only{display:inherit;}html.js span.js-only{display:inline;}.js .views-edit-view .dropbutton-wrapper{width:auto;}
#toolbar-administration,#toolbar-administration *{box-sizing:border-box;}#toolbar-administration{margin:0;padding:0;vertical-align:baseline;font-size:small;line-height:1;}@media print{#toolbar-administration{display:none;}}.toolbar-loading #toolbar-administration{overflow:hidden;}.toolbar li,.toolbar .item-list,.toolbar .item-list li,.toolbar .menu-item,.toolbar .menu-item--expanded{list-style-type:none;list-style-image:none;}.toolbar .menu-item{padding-top:0;}.toolbar .toolbar-bar .toolbar-tab,.toolbar .menu-item{display:block;}.toolbar .toolbar-bar .toolbar-tab.hidden{display:none;}.toolbar a{display:block;line-height:1;}.toolbar .toolbar-bar,.toolbar .toolbar-tray{position:relative;z-index:1250;}.toolbar-horizontal .toolbar-tray{position:fixed;left:0;width:100%;}.toolbar-oriented .toolbar-bar{position:absolute;top:0;right:0;left:0;}.toolbar-oriented .toolbar-tray{position:absolute;right:0;left:0;}@media (min-width:61em){.toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .toolbar-tab:last-child .toolbar-tray{position:relative;z-index:-999;display:block;visibility:hidden;width:1px;}.toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .toolbar-tab:last-child .toolbar-tray .toolbar-lining{width:999em;}.toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .home-toolbar-tab + .toolbar-tab .toolbar-tray{display:block;}}.toolbar-oriented .toolbar-bar{z-index:502;}body.toolbar-fixed .toolbar-oriented .toolbar-bar{position:fixed;}body.toolbar-tray-open.toolbar-fixed.toolbar-vertical .toolbar-oriented{bottom:0;width:240px;width:15rem;}.toolbar-loading.toolbar-horizontal .toolbar .toolbar-tray .toolbar-menu > li,.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar-loading.toolbar-horizontal .toolbar .toolbar-tray .toolbar-menu > li,[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:right;}@media only screen{.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:none;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:none;}}@media (min-width:16.5em){.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:right;}}.toolbar-oriented .toolbar-bar .toolbar-tab,.toolbar-oriented .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar-oriented .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar-oriented .toolbar-tray-horizontal li{float:right;}.toolbar .toolbar-tray{z-index:501;display:none;}.toolbar-oriented .toolbar-tray-vertical{position:absolute;left:-100%;width:240px;width:15rem;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical{right:-100%;left:auto;}.toolbar .toolbar-tray-vertical > .toolbar-lining{min-height:100%;}.toolbar .toolbar-tray-vertical > .toolbar-lining:before{width:100%;}.toolbar-oriented .toolbar-tray-vertical > .toolbar-lining:before{position:fixed;z-index:-1;top:0;bottom:0;left:0;display:block;width:240px;width:14rem;content:"";}[dir="rtl"] .toolbar .toolbar-tray-vertical > .toolbar-lining:before{right:0;left:auto;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{position:relative;z-index:502;}.toolbar-oriented .toolbar-tray-horizontal .menu-item ul{display:none;}.toolbar .toolbar-tray-vertical.is-active,body.toolbar-fixed .toolbar .toolbar-tray-vertical{position:fixed;overflow-x:hidden;overflow-y:auto;height:100%;}.toolbar .toolbar-tray.is-active{display:block;}.toolbar-oriented .toolbar-tray-vertical.is-active{left:0;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical.is-active{right:0;left:auto;}body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-left:240px;margin-left:15rem;}@media print{body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-left:0;}}[dir="rtl"] body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-right:240px;margin-right:15rem;margin-left:auto;}@media print{[dir="rtl"] body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-right:0;}}.toolbar .toolbar-tray .toolbar-toggle-orientation{display:none;}.toolbar-oriented .toolbar-tray .toolbar-toggle-orientation{display:block;}.toolbar-oriented .toolbar-tray-horizontal .toolbar-toggle-orientation{position:absolute;top:auto;right:0;bottom:0;}[dir="rtl"] .toolbar-oriented .toolbar-tray-horizontal .toolbar-toggle-orientation{right:auto;left:0;}.toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation{float:right;width:100%;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation{float:left;}.toolbar .toolbar-bar .home-toolbar-tab{display:none;}.path-admin .toolbar-bar .home-toolbar-tab{display:block;}
